<h1>CEP</h1>

<table>

	<tr>
		<th>Estado - </th>
		<td><%= @estado %></td>
	</tr>
	<tr>
		<th>Cidade - </th>
		<td><%= @cidade %></td>
	</tr>
	<tr>
		<th>Codigo de area - </th>
		<td><%= @codigo_de_area %></td>
	</tr>
	<tr>
		<th>Time zone - </th>
		<td><%= @time %></td>
	</tr>

	<td>
		<%= link_to 'Voltar', action: 'index'%>
	</td>

</table>
<br/>
